body {
  margin: 0;
  font-family: 'Bodoni MT';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Oswald';
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald.TTF'), url(./fonts/Oswald.TTF) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
