body {
  margin: 0;
  font-family: font-family: 'Bodoni MT';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: font-family: 'Bodoni MT';
}

@font-face {
  font-family: 'Bodoni MT';
  src: local('bodoni.TTF'), url(./fonts/bodoni.TTF) format('TTF');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
